/* :root {
  --background: #ffffff;
  --foreground: #171717;
}
 */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

.blockProperties {
  display: flex;
  /* width: 30%; */
  border: none;
  background-color: #ffffff;
  box-shadow: rgb(206, 206, 206) 0px 0px 5px;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: #f9faff !important;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

header {
  background-color: white;
  width: 100%;
  /* height: 150px; */
  /* padding: 25px; */
  box-shadow: rgb(206, 206, 206) 0px 0px 5px;
}

.header-container {
  display: flex;
  flex-wrap: wrap;
  height: 75px;
}

.header-row-1 {
  /* padding: 10px; */
  /* margin-bottom: auto; */

  width: 100%;
  height: 50%;
}

.header-row-2 {
  /* padding: 10px; */
  width: 100%;
  /* margin-top: auto; */
  height: 50%;
}

.header-col {
  height: 100%;
  align-content: center;
  margin-right: 80px;
}

.header-col a {
  color: inherit;
  text-decoration: none;
  font-size: 18;
  font-weight: bold;
  /* cursor: pointer;      */
}

.line-inbetween {
  height: 0;
  width: 100%;
  border-top: solid rgb(228, 228, 228) 1px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */